.container {
    text-align: center;
    margin-top: 250px;
}

.container h1 {
    color: rgb(121, 36, 36);
}

.container p{
    margin-bottom: 40px;
}

.container div{
    margin: 0 auto 40px;
    background-image: url('https://www.gifsanimados.org/data/media/202/perro-imagen-animada-0811.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 200px;
}

.container button {
    width: 100px;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: #8ab8a8;
    cursor: pointer;
  }
  
  .container button:hover {
      background-color: #8ab8a8dd;
  }